:root,:root[theme-mode="light"] {
    --td-brand-color-1: #f2f3ff !important;
    --td-brand-color-2: #d9e1ff !important;
    --td-brand-color-3: #b5c7ff !important;
    --td-brand-color-4: #8eabff !important;
    --td-brand-color-5: #618dff !important;
    --td-brand-color-6: #366ef4 !important;
    --td-brand-color-7: #0052d9 !important;
    --td-brand-color-8: #003cab !important;
    --td-brand-color-9: #002a7c !important;
    --td-brand-color-10: #001a57 !important;
    --td-brand-color-light: var(--td-brand-color-1) !important;
    --td-brand-color-focus: var(--td-brand-color-2) !important;
    --td-brand-color-disabled: var(--td-brand-color-3) !important;
    --td-brand-color-hover: var(--td-brand-color-6) !important;
    --td-brand-color: var(--td-brand-color-7) !important;
    --td-brand-color-active: var(--td-brand-color-8) !important;
    --td-brand-color-light-hover: var(--td-brand-color-2) !important;
    --td-error-color-1: #fff0ed !important;
    --td-error-color-2: #ffd8d2 !important;
    --td-error-color-3: #ffb9b0 !important;
    --td-error-color-4: #ff9285 !important;
    --td-error-color-5: #f6685d !important;
    --td-error-color-6: #d54941 !important;
    --td-error-color-7: #ad352f !important;
    --td-error-color-8: #881f1c !important;
    --td-error-color-9: #68070a !important;
    --td-error-color-10: #490002 !important;
    --td-error-color: var(--td-error-color-6) !important;
    --td-error-color-hover: var(--td-error-color-5) !important;
    --td-error-color-focus: var(--td-error-color-2) !important;
    --td-error-color-active: var(--td-error-color-7) !important;
    --td-error-color-disabled: var(--td-error-color-3) !important;
    --td-error-color-light: var(--td-error-color-1) !important;
    --td-error-color-light-hover: var(--td-error-color-2) !important;
    --td-success-color-1: #e3f9e9 !important;
    --td-success-color-2: #c6f3d7 !important;
    --td-success-color-3: #92dab2 !important;
    --td-success-color-4: #56c08d !important;
    --td-success-color-5: #2ba471 !important;
    --td-success-color-6: #008858 !important;
    --td-success-color-7: #006c45 !important;
    --td-success-color-8: #005334 !important;
    --td-success-color-9: #003b23 !important;
    --td-success-color-10: #002515 !important;
    --td-success-color: var(--td-success-color-5) !important;
    --td-success-color-hover: var(--td-success-color-4) !important;
    --td-success-color-focus: var(--td-success-color-2) !important;
    --td-success-color-active: var(--td-success-color-6) !important;
    --td-success-color-disabled: var(--td-success-color-3) !important;
    --td-success-color-light: var(--td-success-color-1) !important;
    --td-success-color-light-hover: var(--td-success-color-2) !important;
    --td-warning-color-1: #fff1e9 !important;
    --td-warning-color-2: #ffd9c2 !important;
    --td-warning-color-3: #ffb98c !important;
    --td-warning-color-4: #fa9550 !important;
    --td-warning-color-5: #e37318 !important;
    --td-warning-color-6: #be5a00 !important;
    --td-warning-color-7: #954500 !important;
    --td-warning-color-8: #713300 !important;
    --td-warning-color-9: #532300 !important;
    --td-warning-color-10: #3b1700 !important;
    --td-warning-color: var(--td-warning-color-5) !important;
    --td-warning-color-hover: var(--td-warning-color-4) !important;
    --td-warning-color-focus: var(--td-warning-color-2) !important;
    --td-warning-color-active: var(--td-warning-color-6) !important;
    --td-warning-color-disabled: var(--td-warning-color-3) !important;
    --td-warning-color-light: var(--td-warning-color-1) !important;
    --td-warning-color-light-hover: var(--td-warning-color-2) !important;
    --td-gray-color-1: #f3f3f3 !important;
    --td-gray-color-2: #eee !important;
    --td-gray-color-3: #e7e7e7 !important;
    --td-gray-color-4: #dcdcdc !important;
    --td-gray-color-5: #c5c5c5 !important;
    --td-gray-color-6: #a6a6a6 !important;
    --td-gray-color-7: #8b8b8b !important;
    --td-gray-color-8: #777 !important;
    --td-gray-color-9: #5e5e5e !important;
    --td-gray-color-10: #4b4b4b !important;
    --td-gray-color-11: #383838 !important;
    --td-gray-color-12: #2c2c2c !important;
    --td-gray-color-13: #242424 !important;
    --td-gray-color-14: #181818 !important;
    --td-bg-color-page: var(--td-gray-color-2) !important;
    --td-bg-color-container: #fff !important;
    --td-bg-color-container-hover: var(--td-gray-color-1) !important;
    --td-bg-color-container-active: var(--td-gray-color-3) !important;
    --td-bg-color-container-select: #fff !important;
    --td-bg-color-secondarycontainer: var(--td-gray-color-1) !important;
    --td-bg-color-secondarycontainer-hover: var(--td-gray-color-2) !important;
    --td-bg-color-secondarycontainer-active: var(--td-gray-color-4) !important;
    --td-bg-color-component: var(--td-gray-color-3) !important;
    --td-bg-color-component-hover: var(--td-gray-color-4) !important;
    --td-bg-color-component-active: var(--td-gray-color-6) !important;
    --td-bg-color-secondarycomponent: var(--td-gray-color-4) !important;
    --td-bg-color-secondarycomponent-hover: var(--td-gray-color-5) !important;
    --td-bg-color-secondarycomponent-active: var(--td-gray-color-6) !important;
    --td-bg-color-component-disabled: var(--td-gray-color-2) !important;
    --td-component-stroke: var(--td-gray-color-3) !important;
    --td-component-border: var(--td-gray-color-4) !important;
    --td-font-white-1: rgba(255, 255, 255, 1) !important;
    --td-font-white-2: rgba(255, 255, 255, 0.55) !important;
    --td-font-white-3: rgba(255, 255, 255, 0.35) !important;
    --td-font-white-4: rgba(255, 255, 255, 0.22) !important;
    --td-font-gray-1: rgba(0, 0, 0, 0.9) !important;
    --td-font-gray-2: rgba(0, 0, 0, 0.6) !important;
    --td-font-gray-3: rgba(0, 0, 0, 0.4) !important;
    --td-font-gray-4: rgba(0, 0, 0, 0.26) !important;
    --td-table-shadow-color: rgba(0, 0, 0, 8%) !important;
    --td-scrollbar-color: rgba(0, 0, 0, 10%) !important;
    --td-scrollbar-hover-color: rgba(0, 0, 0, 30%) !important;
    --td-scroll-track-color: #fff !important;
    --td-bg-color-specialcomponent: #fff !important;
    --td-border-level-1-color: var(--td-gray-color-3) !important;
    --td-border-level-2-color: var(--td-gray-color-4) !important;
    --td-shadow-inset-top: inset 0 0.5px 0 #dcdcdc !important;
    --td-shadow-inset-right: inset 0.5px 0 0 #dcdcdc !important;
    --td-shadow-inset-bottom: inset 0 -0.5px 0 #dcdcdc !important;
    --td-shadow-inset-left: inset -0.5px 0 0 #dcdcdc !important;
    --td-mask-active: rgba(0, 0, 0, 0.6) !important;
    --td-mask-disabled: rgba(255, 255, 255, 0.6) !important;
  /* 字体配置 */
    --td-font-family: PingFang SC, Microsoft YaHei, Arial Regular !important;
    --td-font-family-medium: PingFang SC, Microsoft YaHei, Arial Medium !important;
    --td-font-size-link-small: 12px !important;
    --td-font-size-link-medium: 14px !important;
    --td-font-size-link-large: 16px !important;
    --td-font-size-mark-small: 12px !important;
    --td-font-size-mark-medium: 14px !important;
    --td-font-size-body-small: 12px !important;
    --td-font-size-body-medium: 14px !important;
    --td-font-size-body-large: 16px !important;
    --td-font-size-title-small: 14px !important;
    --td-font-size-title-medium: 16px !important;
    --td-font-size-title-large: 20px !important;
    --td-font-size-headline-small: 24px !important;
    --td-font-size-headline-medium: 28px !important;
    --td-font-size-headline-large: 36px !important;
    --td-font-size-display-medium: 48px !important;
    --td-font-size-display-large: 64px !important;
    --td-line-height-common: 8px !important;
    --td-line-height-link-small: calc(    var(--td-font-size-link-small) + var(--td-line-height-common)  ) !important;
    --td-line-height-link-medium: calc(    var(--td-font-size-link-medium) + var(--td-line-height-common)  ) !important;
    --td-line-height-link-large: calc(    var(--td-font-size-link-large) + var(--td-line-height-common)  ) !important;
    --td-line-height-mark-small: calc(    var(--td-font-size-mark-small) + var(--td-line-height-common)  ) !important;
    --td-line-height-mark-medium: calc(    var(--td-font-size-mark-medium) + var(--td-line-height-common)  ) !important;
    --td-line-height-body-small: calc(    var(--td-font-size-body-small) + var(--td-line-height-common)  ) !important;
    --td-line-height-body-medium: calc(    var(--td-font-size-body-medium) + var(--td-line-height-common)  ) !important;
    --td-line-height-body-large: calc(    var(--td-font-size-body-large) + var(--td-line-height-common)  ) !important;
    --td-line-height-title-small: calc(    var(--td-font-size-title-small) + var(--td-line-height-common)  ) !important;
    --td-line-height-title-medium: calc(    var(--td-font-size-title-medium) + var(--td-line-height-common)  ) !important;
    --td-line-height-title-large: calc(    var(--td-font-size-title-medium) + var(--td-line-height-common)  ) !important;
    --td-line-height-headline-small: calc(    var(--td-font-size-headline-small) + var(--td-line-height-common)  ) !important;
    --td-line-height-headline-medium: calc(    var(--td-font-size-headline-medium) + var(--td-line-height-common)  ) !important;
    --td-line-height-headline-large: calc(    var(--td-font-size-headline-large) + var(--td-line-height-common)  ) !important;
    --td-line-height-display-medium: calc(    var(--td-font-size-display-medium) + var(--td-line-height-common)  ) !important;
    --td-line-height-display-large: calc(    var(--td-font-size-display-large) + var(--td-line-height-common)  ) !important;
    --td-font-link-small: var(--td-font-size-link-small) /    var(--td-line-height-link-small) var(--td-font-family) !important;
    --td-font-link-medium: var(--td-font-size-link-medium) /    var(--td-line-height-link-medium) var(--td-font-family) !important;
    --td-font-link-large: var(--td-font-size-link-large) /    var(--td-line-height-link-large) var(--td-font-family) !important;
    --td-font-mark-small: 600 var(--td-font-size-mark-small) /    var(--td-line-height-mark-small) var(--td-font-family) !important;
    --td-font-mark-medium: 600 var(--td-font-size-mark-medium) /    var(--td-line-height-mark-medium) var(--td-font-family) !important;
    --td-font-body-small: var(--td-font-size-body-small) /    var(--td-line-height-body-small) var(--td-font-family) !important;
    --td-font-body-medium: var(--td-font-size-body-medium) /    var(--td-line-height-body-medium) var(--td-font-family) !important;
    --td-font-body-large: var(--td-font-size-body-large) /    var(--td-line-height-body-large) var(--td-font-family) !important;
    --td-font-title-small: 600 var(--td-font-size-title-small) /    var(--td-line-height-title-small) var(--td-font-family) !important;
    --td-font-title-medium: 600 var(--td-font-size-title-medium) /    var(--td-line-height-title-medium) var(--td-font-family) !important;
    --td-font-title-large: 600 var(--td-font-size-title-large) /    var(--td-line-height-title-large) var(--td-font-family) !important;
    --td-font-headline-small: 600 var(--td-font-size-headline-small) /    var(--td-line-height-headline-small) var(--td-font-family) !important;
    --td-font-headline-medium: 600 var(--td-font-size-headline-medium) /    var(--td-line-height-headline-medium) var(--td-font-family) !important;
    --td-font-headline-large: 600 var(--td-font-size-headline-large) /    var(--td-line-height-headline-large) var(--td-font-family) !important;
    --td-font-display-medium: 600 var(--td-font-size-display-medium) /    var(--td-line-height-display-medium) var(--td-font-family) !important;
    --td-font-display-large: 600 var(--td-font-size-display-large) /    var(--td-line-height-display-large) var(--td-font-family) !important;
  /* 字体颜色 */
    --td-text-color-primary: var(--td-font-gray-1) !important;
    --td-text-color-secondary: var(--td-font-gray-2) !important;
    --td-text-color-placeholder: var(--td-font-gray-3) !important;
    --td-text-color-disabled: var(--td-font-gray-4) !important;
    --td-text-color-anti: #fff !important;
    --td-text-color-brand: var(--td-brand-color) !important;
    --td-text-color-link: var(--td-brand-color) !important;
  /* end 字体配置 */  /* 圆角配置 */
    --td-radius-small: 2px !important;
    --td-radius-default: 3px !important;
    --td-radius-medium: 6px !important;
    --td-radius-large: 9px !important;
    --td-radius-extraLarge: 12px !important;
    --td-radius-round: 999px !important;
    --td-radius-circle: 50% !important;
  /* end 圆角配置 */  /* 阴影配置 */
    --td-shadow-1: 0 1px 10px rgba(0, 0, 0, 0.05), 0 4px 5px rgba(0, 0, 0, 0.08), 0 2px 4px -1px rgba(0, 0, 0, 0.12) !important;
    --td-shadow-2: 0 3px 14px 2px rgba(0, 0, 0, 0.05), 0 8px 10px 1px rgba(0, 0, 0, 0.06), 0 5px 5px -3px rgba(0, 0, 0, 0.1) !important;
    --td-shadow-3: 0 6px 30px 5px rgba(0, 0, 0, 0.05), 0 16px 24px 2px rgba(0, 0, 0, 0.04), 0 8px 10px -5px rgba(0, 0, 0, 0.08) !important;
  /* end 阴影配置 */  /* 尺寸配置 */
    --td-size-1: 2px !important;
    --td-size-2: 4px !important;
    --td-size-3: 6px !important;
    --td-size-4: 8px !important;
    --td-size-5: 12px !important;
    --td-size-6: 16px !important;
    --td-size-7: 20px !important;
    --td-size-8: 24px !important;
    --td-size-9: 28px !important;
    --td-size-10: 32px !important;
    --td-size-11: 36px !important;
    --td-size-12: 40px !important;
    --td-size-13: 48px !important;
    --td-size-14: 56px !important;
    --td-size-15: 64px !important;
    --td-size-16: 72px !important;
    --td-comp-size-xxxs: var(--td-size-6) !important;
    --td-comp-size-xxs: var(--td-size-7) !important;
    --td-comp-size-xs: var(--td-size-8) !important;
    --td-comp-size-s: var(--td-size-9) !important;
    --td-comp-size-m: var(--td-size-10) !important;
    --td-comp-size-l: var(--td-size-11) !important;
    --td-comp-size-xl: var(--td-size-12) !important;
    --td-comp-size-xxl: var(--td-size-13) !important;
    --td-comp-size-xxxl: var(--td-size-14) !important;
    --td-comp-size-xxxxl: var(--td-size-15) !important;
    --td-comp-size-xxxxxl: var(--td-size-16) !important;
    --td-pop-padding-s: var(--td-size-2) !important;
    --td-pop-padding-m: var(--td-size-3) !important;
    --td-pop-padding-l: var(--td-size-4) !important;
    --td-pop-padding-xl: var(--td-size-5) !important;
    --td-pop-padding-xxl: var(--td-size-6) !important;
    --td-comp-paddingLR-xxs: var(--td-size-1) !important;
    --td-comp-paddingLR-xs: var(--td-size-2) !important;
    --td-comp-paddingLR-s: var(--td-size-4) !important;
    --td-comp-paddingLR-m: var(--td-size-5) !important;
    --td-comp-paddingLR-l: var(--td-size-6) !important;
    --td-comp-paddingLR-xl: var(--td-size-8) !important;
    --td-comp-paddingLR-xxl: var(--td-size-10) !important;
    --td-comp-paddingTB-xxs: var(--td-size-1) !important;
    --td-comp-paddingTB-xs: var(--td-size-2) !important;
    --td-comp-paddingTB-s: var(--td-size-4) !important;
    --td-comp-paddingTB-m: var(--td-size-5) !important;
    --td-comp-paddingTB-l: var(--td-size-6) !important;
    --td-comp-paddingTB-xl: var(--td-size-8) !important;
    --td-comp-paddingTB-xxl: var(--td-size-10) !important;
    --td-comp-margin-xxs: var(--td-size-1) !important;
    --td-comp-margin-xs: var(--td-size-2) !important;
    --td-comp-margin-s: var(--td-size-4) !important;
    --td-comp-margin-m: var(--td-size-5) !important;
    --td-comp-margin-l: var(--td-size-6) !important;
    --td-comp-margin-xl: var(--td-size-7) !important;
    --td-comp-margin-xxl: var(--td-size-8) !important;
    --td-comp-margin-xxxl: var(--td-size-10) !important;
    --td-comp-margin-xxxxl: var(--td-size-12) !important;
  /* end 尺寸配置 */
}

:root[theme-mode="dark"] {
    --brand-main: var(--td-brand-color) !important;
    --td-brand-color-1: #1b2f51 !important;
    --td-brand-color-2: #173463 !important;
    --td-brand-color-3: #143975 !important;
    --td-brand-color-4: #103d88 !important;
    --td-brand-color-5: #0d429a !important;
    --td-brand-color-6: #054bbe !important;
    --td-brand-color-7: #2667d4 !important;
    --td-brand-color-8: #4582e6 !important;
    --td-brand-color-9: #699ef5 !important;
    --td-brand-color-10: #96bbf8 !important;
    --td-brand-color-light: var(--td-brand-color-1) !important;
    --td-brand-color-focus: var(--td-brand-color-2) !important;
    --td-brand-color-disabled: var(--td-brand-color-3) !important;
    --td-brand-color-hover: var(--td-brand-color-7) !important;
    --td-brand-color: var(--td-brand-color-8) !important;
    --td-brand-color-active: var(--td-brand-color-9) !important;
    --td-warning-color-1: #4f2a1d !important;
    --td-warning-color-2: #582f21 !important;
    --td-warning-color-3: #733c23 !important;
    --td-warning-color-4: #a75d2b !important;
    --td-warning-color-5: #cf6e2d !important;
    --td-warning-color-6: #dc7633 !important;
    --td-warning-color-7: #e8935c !important;
    --td-warning-color-8: #ecbf91 !important;
    --td-warning-color-9: #eed7bf !important;
    --td-warning-color-10: #f3e9dc !important;
    --td-warning-color: var(--td-warning-color-5) !important;
    --td-warning-color-hover: var(--td-warning-color-4) !important;
    --td-warning-color-focus: var(--td-warning-color-2) !important;
    --td-warning-color-active: var(--td-warning-color-6) !important;
    --td-warning-color-disabled: var(--td-warning-color-3) !important;
    --td-warning-color-light: var(--td-warning-color-1) !important;
    --td-error-color-1: #472324 !important;
    --td-error-color-2: #5e2a2d !important;
    --td-error-color-3: #703439 !important;
    --td-error-color-4: #83383e !important;
    --td-error-color-5: #a03f46 !important;
    --td-error-color-6: #c64751 !important;
    --td-error-color-7: #de6670 !important;
    --td-error-color-8: #ec888e !important;
    --td-error-color-9: #edb1b6 !important;
    --td-error-color-10: #eeced0 !important;
    --td-error-color: var(--td-error-color-6) !important;
    --td-error-color-hover: var(--td-error-color-5) !important;
    --td-error-color-focus: var(--td-error-color-2) !important;
    --td-error-color-active: var(--td-error-color-7) !important;
    --td-error-color-disabled: var(--td-error-color-3) !important;
    --td-error-color-light: var(--td-error-color-1) !important;
    --td-success-color-1: #193a2a !important;
    --td-success-color-2: #1a4230 !important;
    --td-success-color-3: #17533d !important;
    --td-success-color-4: #0d7a55 !important;
    --td-success-color-5: #059465 !important;
    --td-success-color-6: #43af8a !important;
    --td-success-color-7: #46bf96 !important;
    --td-success-color-8: #80d2b6 !important;
    --td-success-color-9: #b4e1d3 !important;
    --td-success-color-10: #deede8 !important;
    --td-success-color: var(--td-success-color-5) !important;
    --td-success-color-hover: var(--td-success-color-4) !important;
    --td-success-color-focus: var(--td-success-color-2) !important;
    --td-success-color-active: var(--td-success-color-6) !important;
    --td-success-color-disabled: var(--td-success-color-3) !important;
    --td-success-color-light: var(--td-success-color-1) !important;
    --td-gray-color-1: #f3f3f3 !important;
    --td-gray-color-2: #eee !important;
    --td-gray-color-3: #e7e7e7 !important;
    --td-gray-color-4: #dcdcdc !important;
    --td-gray-color-5: #c5c5c5 !important;
    --td-gray-color-6: #a6a6a6 !important;
    --td-gray-color-7: #8b8b8b !important;
    --td-gray-color-8: #777 !important;
    --td-gray-color-9: #5e5e5e !important;
    --td-gray-color-10: #4b4b4b !important;
    --td-gray-color-11: #383838 !important;
    --td-gray-color-12: #2c2c2c !important;
    --td-gray-color-13: #242424 !important;
    --td-gray-color-14: #181818 !important;
    --td-bg-color-page: var(--td-gray-color-14) !important;
    --td-bg-color-container: var(--td-gray-color-13) !important;
    --td-bg-color-container-hover: var(--td-gray-color-12) !important;
    --td-bg-color-container-active: var(--td-gray-color-10) !important;
    --td-bg-color-container-select: var(--td-gray-color-9) !important;
    --td-bg-color-secondarycontainer: var(--td-gray-color-12) !important;
    --td-bg-color-secondarycontainer-hover: var(--td-gray-color-11) !important;
    --td-bg-color-secondarycontainer-active: var(--td-gray-color-9) !important;
    --td-bg-color-component: var(--td-gray-color-11) !important;
    --td-bg-color-component-hover: var(--td-gray-color-10) !important;
    --td-bg-color-component-active: var(--td-gray-color-9) !important;
    --td-bg-color-secondarycomponent: var(--td-gray-color-10) !important;
    --td-bg-color-secondarycomponent-hover: var(--td-gray-color-9) !important;
    --td-bg-color-secondarycomponent-active: var(--td-gray-color-8) !important;
    --td-bg-color-component-disabled: var(--td-gray-color-12) !important;
    --td-component-stroke: var(--td-gray-color-11) !important;
    --td-component-border: var(--td-gray-color-9) !important;
    --td-font-white-1: rgba(255, 255, 255, 0.9) !important;
    --td-font-white-2: rgba(255, 255, 255, 0.55) !important;
    --td-font-white-3: rgba(255, 255, 255, 0.35) !important;
    --td-font-white-4: rgba(255, 255, 255, 0.22) !important;
    --td-font-gray-1: rgba(0, 0, 0, 0.9) !important;
    --td-font-gray-2: rgba(0, 0, 0, 0.6) !important;
    --td-font-gray-3: rgba(0, 0, 0, 0.4) !important;
    --td-font-gray-4: rgba(0, 0, 0, 0.26) !important;
    --td-text-color-primary: var(--td-font-white-1) !important;
    --td-text-color-secondary: var(--td-font-white-2) !important;
    --td-text-color-placeholder: var(--td-font-white-3) !important;
    --td-text-color-disabled: var(--td-font-white-4) !important;
    --td-text-color-anti: #fff !important;
    --td-text-color-brand: var(--td-brand-color) !important;
    --td-text-color-link: var(--td-brand-color) !important;
    --td-shadow-1: 0 4px 6px rgba(0, 0, 0, 0.06), 0 1px 10px rgba(0, 0, 0, 0.08), 0 2px 4px rgba(0, 0, 0, 0.12) !important;
    --td-shadow-2: 0 8px 10px rgba(0, 0, 0, 0.12), 0 3px 14px rgba(0, 0, 0, 0.10), 0 5px 5px rgba(0, 0, 0, 0.16) !important;
    --td-shadow-3: 0 16px 24px rgba(0, 0, 0, 0.14), 0 6px 30px rgba(0, 0, 0, 0.12), 0 8px 10px rgba(0, 0, 0, 0.20) !important;
    --td-shadow-inset-top: inset 0 0.5px 0 #5e5e5e !important;
    --td-shadow-inset-right: inset 0.5px 0 0 #5e5e5e !important;
    --td-shadow-inset-bottom: inset 0 -0.5px 0 #5e5e5e !important;
    --td-shadow-inset-left: inset -0.5px 0 0 #5e5e5e !important;
    --td-table-shadow-color: rgba(0, 0, 0, 55%) !important;
    --td-scrollbar-color: rgba(255, 255, 255, 10%) !important;
    --td-scrollbar-hover-color: rgba(255, 255, 255, 30%) !important;
    --td-scroll-track-color: #333 !important;
    --td-bg-color-specialcomponent: transparent !important;
    --td-border-level-1-color: var(--td-gray-color-11) !important;
    --td-border-level-2-color: var(--td-gray-color-9) !important;
    --td-mask-active: rgba(0, 0, 0, 0.4) !important;
    --td-mask-disabled: rgba(0, 0, 0, 0.6) !important;
}